
* {
    --colour-primary: #ffab00;
    --colour-secondary: #ffcb5a;
    --colour-muted: #ffecb3;
    --colour-accent: #00BFA5;
    --colour-accent-muted: #26A69A;
    --colour-dark: #343a40;
    --colour-dark-border: #545E66;
    --colour-med: #57626b;
    --colour-med-light: #828f9c;
    --colour-light: #d5dbe0;


    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}

html, body {
    height: 100%;
}

.fill-height {
    min-height: 100%;
    height:auto !important;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.main .col {
    border-right: 1px solid var(--colour-dark-border);
    padding-top: 10px;
    max-height: 100%;
}

.main .col:last-child {
    border: none;
}

.main .col.scroll {
    height: 100vh;
    overflow-y: auto;
}

.main .col::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.2);
    width: 7px;
}


.main .col.scroll::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main .col.scroll::-webkit-scrollbar-thumb {
    background-color: var(--colour-muted);
}

.main .col.scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--colour-secondary);
}

.word-details {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--colour-med);
  color: var(--colour-light);
}

.word-details:last-child {
    margin-bottom: 20px;
}

.bg-dark hr {
  background-color: var(--colour-secondary);
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 60px;
    border-top: 1px solid  var(--colour-dark-border);
}

.footer .col {
    border-right: 1px solid var(--colour-dark-border);
    padding-top: 20px;
    padding-bottom: 20px;
}

.centre-block {
   margin-left:auto;
   margin-right:auto;

    width:fit-content;
    height:fit-content;

    margin-top: -20px;
}

.subtle {
    color: var(--colour-med-light);
    font-style: italic;
}


#dictionary:empty::before {
    color: var(--colour-med-light);
    font-style: italic;
    content: "No Language Selected";
}

#dictionary li {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    height: 30px;
    padding-left: 7px;
    padding-top: 2px;
}

#dictionary li:hover {
    color: var(--colour-accent);
    background-color: var(--colour-med);
}

#dictionary li > .tickbox {
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-weight: 900;
    line-height: 13px;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    border: solid 2px var(--colour-accent);
    color: var(--colour-accent);
}

#dictionary li:not(.selected):hover > .tickbox {
    display: block;
}

#dictionary li.selected {
    color: var(--colour-accent-muted);
}

#dictionary li.selected > .tickbox {
    display: block;
    background-color: var(--colour-accent);
    color: white;
}

#info {
    font-size: 16px;
    line-height: 1.5em;
    font-family: monospace;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    padding: 20px 0;
    border-top: 1px solid var(--colour-dark-border);
}

#info a {
    color: var(--colour-med-light);
    text-decoration: underline;
}

#info a:hover {
    color: white;
}

#timelineSlider {
    width: 100%;
}

#timelineSlider .slider-track {
    background: rgba(0, 0, 0, 0.3);
}

#timelineSlider .slider-tick {
    background: var(--colour-muted);
    height: 10px;
    width: 10px;
    top: 5px;
    margin-left: -5px;
}

#timelineSlider .slider-selection {
    background: var(--colour-muted);
}

#timelineSlider .slider-tick.in-selection {
    background: var(--colour-secondary);
}

#timelineSlider .slider-handle {
    background: var(--colour-primary);
    width: 10px;
    margin-left: -5px;
}


table.word-forms {
    background-color: var(--colour-light);
}

table.word-forms td,
table.word-forms th {
    border: 1px solid var(--colour-dark-border);
    padding: 3px 7px;
}

table.word-forms th {
    background-color: var(--colour-med-light);
    font-weight: bolder;
}
