/* Remove default bullets */
.tree ul {
    list-style-type: none !important;
}

ul.tree ul,
.tree ul ul {
    margin-left: 20px;
}

/* Remove margins and padding from the parent ul */
.tree {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

/* Style the tree item */
.tree li {
    cursor: default;
    color: var(--colour-med-light);
}


.tree span {
    margin-left: -14px;
    cursor: pointer;
}

.tree a {
    color: white;
    cursor: pointer;
}

/* Highlight on hover */
.tree span:hover {
    color: lightgrey;
}

.tree a:hover {
    color: var(--colour-accent);
    text-decoration: none;
}

/* Create the caret/arrow with a unicode, and style it */
.tree span::before {
    position: relative;
    left: -6px;
    content: "⮞";
    color: white;
    display: inline-block;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree span.active::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.tree span:not(.active) + ul {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.tree span.active + ul {
    display: block;
}
